/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
$fontfam:'Montserrat', Roboto, sans-serif;
:root {
--color1: #f4ae3f;
--color2:#333333;
--color3:#808080;
--colorok:#31da70;
--colorerror:#ff6d6d;
--whitecolor:#fff;
--colorlink:#409ff5;
--spacing:30px;
--colortablehead:#e4e4e4;
--bs-gutter-x: 1.5rem;
$primary:#00b389;
}
.error{color: var(--colorerror) !important;}
.green{color:var(--colorok) !important;}
.gold{color:var(--color1) !important;}
.blue{color:var(--colorlink) !important;}
.main{color:var(--color1) !important;}
body{font-family: $fontfam;font-size: 14px;font-weight: 400;background: url("../../images/pattern-bg.jpg") repeat top center;color: var(--color2);}
*{outline: none;box-sizing: border-box;padding: 0;margin: 0;}
a {text-decoration: none;transition:all 0.3s ease-in-out;}
button{transition:all 0.7s ease-in-out !important;}
a:hover {text-decoration: none;}
main{position: relative;height: 100vh;}
.container{max-width: 768px;}
.wrapper{max-width: 768px;margin: 0 auto;margin-top: 60px;}
header{background: var(--whitecolor);border-bottom: 1px solid #e9e9e9;}
.mainheader{display: flex;align-items: center;justify-content: space-between;height: 60px;
	.btn-back{color: var(--color2);
		&:hover{color: var(--color1);}
		i{margin-right: 5px;}
	}
	img.toplogo{width: 70px;height: 32px;object-fit: contain;}
	.rightheader{display: flex;align-items: center;justify-content: space-between;
		a.btn-dangnhap{padding:0.6rem 1.3rem;background-color: var(--color1);border-radius:4px;color:var(--whitecolor);word-wrap: break-word;text-align: center;}
		.topinfo{display: flex;align-items: center;justify-content: space-between;
			.userinfomain{display: flex;align-items: center;
				img.avauser{width:40px;height: 40px;object-fit: cover;flex-shrink: 0;border-radius: 50%;}
				.userinfo{display: flex;flex: 1;padding-left: 5px;flex-direction: column;
					span{font-size: 14px;}
					span.gold{color: var(--color1);font-weight: 500;}
				}
			}
			a.btnlist{color: var(--color2);margin-left: 23px;
				i{font-size: 26px;}
			}
			.dropdown-menu{list-style: none;background-color: var(--color2);padding: 0.5rem 1rem;text-align: center;border-radius: 10px;border:1px solid #7e7e7e;box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
				li{border-bottom: 1px solid rgba(255,255,255,0.2);padding: 0.4rem;
					a{color: var(--whitecolor);font-size: 14px;
						&:hover{color: var(--color1);background: transparent;}
					}
					&:last-child{border-bottom: none;}
				}
			}
		}
	}
}
.user{padding: 15px 0 33px;background-color: #fff4e3;position: relative;overflow: hidden;
	.infouser{display: flex;align-items: center;
		.ava-info{width: 90px;height: 90px;border-radius:100rem;margin-right: 13px;}
		.username{font-size: 16px;font-weight: 700;
			i{color: #6c23a8;}
		}
		p{margin-bottom: 0.5rem;}
	}
}
.user-content{margin-top:-20px;position: relative;z-index: 2;
	.hoivien{background-color:var(--color1);border-radius:4px;padding: 1rem 0;position: relative;overflow: hidden;
		&:before{content: "";position: absolute;width: 200vh;height: 200vh;border-radius:100vh;z-index: 1;background-color:rgba(255,255,255,0.1);top: 30%;left: -110%;}
		&:after{content: "";position: absolute;width: 200vh;height: 200vh;border-radius:100vh;z-index: 1;background-color:rgba(255,255,255,0.1);top: 35%;right: -120%;}
		ul{display: flex;list-style: none;align-items: center;justify-content: space-between;margin: 0;padding-left: 0;position: relative;z-index: 3;
			li{text-align: center;
				h4{font-size: 16px;color: var(--whitecolor);font-weight: 700;}
				a.buy{display: block;background-color:var(--whitecolor);border-radius:4px;color: var(--color1);width: 80%;text-align: center;margin: 0 auto;padding: 0.5rem;font-weight:700;
					&:hover{filter: brightness(95%);}
				}
			}
		}
	}
	.user-money{display: flex;flex-wrap: nowrap;width: 100%;margin-top: 18px;
		.ixu{display: flex;align-items: center;justify-content: flex-start;margin-right:13px;width: calc(50% - 10px);margin-right: 10px;padding: 1rem 0 1rem 20px;background-color:#f3f3f3;border-radius:4px;
			img{margin-right:10px;}
			.ixu-gold{font-weight: 700;color: var(--color1);}
		}
		.itap-token{width: calc(50% - 10px);margin-left: 10px;margin-right: 0;}
		.ixu-info{display: flex;flex-direction: column;}
	}
}
.chucnang{
	.chucnang-title{font-size: 16px;font-weight: 600;color:var(--color2);}
	ul.chucnang-list{list-style: none;display: grid;grid-template-columns:repeat(4, 1fr);padding-left: 0;margin-bottom: 0;
		li{margin-bottom: 25px;
			a{display: flex;align-items: center;justify-content: center;flex-direction: column;color: var(--color2);font-weight: 500;text-align: center;
				&:hover{filter: brightness(110%);}
				img{width: 30%;margin-bottom: 0.2rem;}
			}
		}
	}
}
.category{
	ul{
		li{cursor: pointer;display: flex;justify-content: space-between;padding: 1.5rem 0;transition:all 0.3s ease-in-out;
			&:hover{color: var(--color1);}
			.leftlist{display: flex;align-items: center;justify-content: center;font-weight: 500;
				i{font-size: 25px;margin-right: 0.5rem;width: 25px;text-align: center;}
				.filltext{display: flex;flex-direction: column;
					span.check{font-weight: 400;font-size: 12px;color: var(--colorerror);}
				}
			}
			.rightlist{display: flex;align-items: center;justify-content: center;
				span.capnhat{margin-right: 5px;color: var(--color1);}
			}
		}
	}
}
p a.banner{
	img{display: block;max-width: 100%;margin: 0 auto;}
}

.canhbao{padding: 40px 16px 10px 135px;position: relative;border-bottom: 1px solid #e5e5e5;
	.c100.p51 .slice,.c100.p52 .slice,.c100.p53 .slice,.c100.p54 .slice,.c100.p55 .slice,.c100.p56 .slice,.c100.p57 .slice,.c100.p58 .slice,.c100.p59 .slice,.c100.p60 .slice,.c100.p61 .slice,.c100.p62 .slice,.c100.p63 .slice,.c100.p64 .slice,.c100.p65 .slice,.c100.p66 .slice,.c100.p67 .slice,.c100.p68 .slice,.c100.p69 .slice,.c100.p70 .slice,.c100.p71 .slice,.c100.p72 .slice,.c100.p73 .slice,.c100.p74 .slice,.c100.p75 .slice,.c100.p76 .slice,.c100.p77 .slice,.c100.p78 .slice,.c100.p79 .slice,.c100.p80 .slice,.c100.p81 .slice,.c100.p82 .slice,.c100.p83 .slice,.c100.p84 .slice,.c100.p85 .slice,.c100.p86 .slice,.c100.p87 .slice,.c100.p88 .slice,.c100.p89 .slice,.c100.p90 .slice,.c100.p91 .slice,.c100.p92 .slice,.c100.p93 .slice,.c100.p94 .slice,.c100.p95 .slice,.c100.p96 .slice,.c100.p97 .slice,.c100.p98 .slice,.c100.p99 .slice,.c100.p100 .slice,.rect-auto{clip:rect(auto,auto,auto,auto)}
	.c100 .bar,.c100.p51 .fill,.c100.p52 .fill,.c100.p53 .fill,.c100.p54 .fill,.c100.p55 .fill,.c100.p56 .fill,.c100.p57 .fill,.c100.p58 .fill,.c100.p59 .fill,.c100.p60 .fill,.c100.p61 .fill,.c100.p62 .fill,.c100.p63 .fill,.c100.p64 .fill,.c100.p65 .fill,.c100.p66 .fill,.c100.p67 .fill,.c100.p68 .fill,.c100.p69 .fill,.c100.p70 .fill,.c100.p71 .fill,.c100.p72 .fill,.c100.p73 .fill,.c100.p74 .fill,.c100.p75 .fill,.c100.p76 .fill,.c100.p77 .fill,.c100.p78 .fill,.c100.p79 .fill,.c100.p80 .fill,.c100.p81 .fill,.c100.p82 .fill,.c100.p83 .fill,.c100.p84 .fill,.c100.p85 .fill,.c100.p86 .fill,.c100.p87 .fill,.c100.p88 .fill,.c100.p89 .fill,.c100.p90 .fill,.c100.p91 .fill,.c100.p92 .fill,.c100.p93 .fill,.c100.p94 .fill,.c100.p95 .fill,.c100.p96 .fill,.c100.p97 .fill,.c100.p98 .fill,.c100.p99 .fill,.c100.p100 .fill,.pie{position:absolute;border:.08em solid var(--colorerror);width:.84em;height:.84em;clip:rect(0,.5em,1em,0);border-radius:50%;transform:rotate(0deg)}
	.c100.p51 .bar:after,.c100.p51 .fill,.c100.p52 .bar:after,.c100.p52 .fill,.c100.p53 .bar:after,.c100.p53 .fill,.c100.p54 .bar:after,.c100.p54 .fill,.c100.p55 .bar:after,.c100.p55 .fill,.c100.p56 .bar:after,.c100.p56 .fill,.c100.p57 .bar:after,.c100.p57 .fill,.c100.p58 .bar:after,.c100.p58 .fill,.c100.p59 .bar:after,.c100.p59 .fill,.c100.p60 .bar:after,.c100.p60 .fill,.c100.p61 .bar:after,.c100.p61 .fill,.c100.p62 .bar:after,.c100.p62 .fill,.c100.p63 .bar:after,.c100.p63 .fill,.c100.p64 .bar:after,.c100.p64 .fill,.c100.p65 .bar:after,.c100.p65 .fill,.c100.p66 .bar:after,.c100.p66 .fill,.c100.p67 .bar:after,.c100.p67 .fill,.c100.p68 .bar:after,.c100.p68 .fill,.c100.p69 .bar:after,.c100.p69 .fill,.c100.p70 .bar:after,.c100.p70 .fill,.c100.p71 .bar:after,.c100.p71 .fill,.c100.p72 .bar:after,.c100.p72 .fill,.c100.p73 .bar:after,.c100.p73 .fill,.c100.p74 .bar:after,.c100.p74 .fill,.c100.p75 .bar:after,.c100.p75 .fill,.c100.p76 .bar:after,.c100.p76 .fill,.c100.p77 .bar:after,.c100.p77 .fill,.c100.p78 .bar:after,.c100.p78 .fill,.c100.p79 .bar:after,.c100.p79 .fill,.c100.p80 .bar:after,.c100.p80 .fill,.c100.p81 .bar:after,.c100.p81 .fill,.c100.p82 .bar:after,.c100.p82 .fill,.c100.p83 .bar:after,.c100.p83 .fill,.c100.p84 .bar:after,.c100.p84 .fill,.c100.p85 .bar:after,.c100.p85 .fill,.c100.p86 .bar:after,.c100.p86 .fill,.c100.p87 .bar:after,.c100.p87 .fill,.c100.p88 .bar:after,.c100.p88 .fill,.c100.p89 .bar:after,.c100.p89 .fill,.c100.p90 .bar:after,.c100.p90 .fill,.c100.p91 .bar:after,.c100.p91 .fill,.c100.p92 .bar:after,.c100.p92 .fill,.c100.p93 .bar:after,.c100.p93 .fill,.c100.p94 .bar:after,.c100.p94 .fill,.c100.p95 .bar:after,.c100.p95 .fill,.c100.p96 .bar:after,.c100.p96 .fill,.c100.p97 .bar:after,.c100.p97 .fill,.c100.p98 .bar:after,.c100.p98 .fill,.c100.p99 .bar:after,.c100.p99 .fill,.c100.p100 .bar:after,.c100.p100 .fill,.pie-fill{transform:rotate(180deg)}
	.c100{position:relative;font-size:120px;width:1em;height:1em;border-radius:50%;float:left;margin:0 .1em .1em 0;background-color:#e6e6e6}
	.c100 *,.c100 :after,.c100 :before{box-sizing:content-box}
	.c100.center{float:none;margin:0 auto}
	.c100.big{font-size:240px}
	.c100.small{font-size:100px}
	.c100>span{position:absolute;width:100%;z-index:1;left:0;top:0;width:5em;height:5em;line-height:1.15em;font-size:.2em;color:#777;font-weight:700;display:flex;display:-moz-flex;justify-content:center;align-items:center;text-align:center;white-space:nowrap;transition-property:all;transition-duration:.2s;transition-timing-function:ease-out}
	.c100:after{position:absolute;top:.07em;left:.07em;display:block;content:" ";border-radius:50%;background-color:#fff;width:.86em;height:.86em;transition-property:all;transition-duration:.2s;transition-timing-function:ease-in}
	.c100 .slice{position:absolute;width:1em;height:1em;clip:rect(0,1em,1em,.5em)}
	.c100.p1 .bar{transform:rotate(3.6deg)}
	.c100.p2 .bar{transform:rotate(7.2deg)}
	.c100.p3 .bar{transform:rotate(10.8deg)}
	.c100.p4 .bar{transform:rotate(14.4deg)}
	.c100.p5 .bar{transform:rotate(18deg)}
	.c100.p6 .bar{transform:rotate(21.6deg)}
	.c100.p7 .bar{transform:rotate(25.2deg)}
	.c100.p8 .bar{transform:rotate(28.8deg)}
	.c100.p9 .bar{transform:rotate(32.4deg)}
	.c100.p10 .bar{transform:rotate(36deg)}
	.c100.p11 .bar{transform:rotate(39.6deg)}
	.c100.p12 .bar{transform:rotate(43.2deg)}
	.c100.p13 .bar{transform:rotate(46.8deg)}
	.c100.p14 .bar{transform:rotate(50.4deg)}
	.c100.p15 .bar{transform:rotate(54deg)}
	.c100.p16 .bar{transform:rotate(57.6deg)}
	.c100.p17 .bar{transform:rotate(61.2deg)}
	.c100.p18 .bar{transform:rotate(64.8deg)}
	.c100.p19 .bar{transform:rotate(68.4deg)}
	.c100.p20 .bar{transform:rotate(72deg)}
	.c100.p21 .bar{transform:rotate(75.6deg)}
	.c100.p22 .bar{transform:rotate(79.2deg)}
	.c100.p23 .bar{transform:rotate(82.8deg)}
	.c100.p24 .bar{transform:rotate(86.4deg)}
	.c100.p25 .bar{transform:rotate(90deg)}
	.c100.p26 .bar{transform:rotate(93.6deg)}
	.c100.p27 .bar{transform:rotate(97.2deg)}
	.c100.p28 .bar{transform:rotate(100.8deg)}
	.c100.p29 .bar{transform:rotate(104.4deg)}
	.c100.p30 .bar{transform:rotate(108deg)}
	.c100.p31 .bar{transform:rotate(.31turn)}
	.c100.p32 .bar{transform:rotate(.32turn)}
	.c100.p33 .bar{transform:rotate(.33turn)}
	.c100.p34 .bar{transform:rotate(.34turn)}
	.c100.p35 .bar{transform:rotate(126deg)}
	.c100.p36 .bar{transform:rotate(.36turn)}
	.c100.p37 .bar{transform:rotate(.37turn)}
	.c100.p38 .bar{transform:rotate(.38turn)}
	.c100.p39 .bar{transform:rotate(.39turn)}
	.c100.p40 .bar{transform:rotate(144deg)}
	.c100.p41 .bar{transform:rotate(.41turn)}
	.c100.p42 .bar{transform:rotate(.42turn)}
	.c100.p43 .bar{transform:rotate(154.8deg)}
	.c100.p44 .bar{transform:rotate(.44turn)}
	.c100.p45 .bar{transform:rotate(162deg)}
	.c100.p46 .bar{transform:rotate(165.6deg)}
	.c100.p47 .bar{transform:rotate(.47turn)}
	.c100.p48 .bar{transform:rotate(172.8deg)}
	.c100.p49 .bar{transform:rotate(.49turn)}
	.c100.p50 .bar{transform:rotate(180deg)}
	.c100.p51 .bar{transform:rotate(.51turn)}
	.c100.p52 .bar{transform:rotate(.52turn)}
	.c100.p53 .bar{transform:rotate(.53turn)}
	.c100.p54 .bar{transform:rotate(.54turn)}
	.c100.p55 .bar{transform:rotate(198deg)}
	.c100.p56 .bar{transform:rotate(201.6deg)}
	.c100.p57 .bar{transform:rotate(.57turn)}
	.c100.p58 .bar{transform:rotate(208.8deg)}
	.c100.p59 .bar{transform:rotate(.59turn)}
	.c100.p60 .bar{transform:rotate(216deg)}
	.c100.p61 .bar{transform:rotate(.61turn)}
	.c100.p62 .bar{transform:rotate(.62turn)}
	.c100.p63 .bar{transform:rotate(.63turn)}
	.c100.p64 .bar{transform:rotate(.64turn)}
	.c100.p65 .bar{transform:rotate(234deg)}
	.c100.p66 .bar{transform:rotate(.66turn)}
	.c100.p67 .bar{transform:rotate(241.2deg)}
	.c100.p68 .bar{transform:rotate(.68turn)}
	.c100.p69 .bar{transform:rotate(248.4deg)}
	.c100.p70 .bar{transform:rotate(252deg)}
	.c100.p71 .bar{transform:rotate(.71turn)}
	.c100.p72 .bar{transform:rotate(.72turn)}
	.c100.p73 .bar{transform:rotate(.73turn)}
	.c100.p74 .bar{transform:rotate(.74turn)}
	.c100.p75 .bar{transform:rotate(270deg)}
	.c100.p76 .bar{transform:rotate(.76turn)}
	.c100.p77 .bar{transform:rotate(.77turn)}
	.c100.p78 .bar{transform:rotate(.78turn)}
	.c100.p79 .bar{transform:rotate(284.4deg)}
	.c100.p80 .bar{transform:rotate(288deg)}
	.c100.p81 .bar{transform:rotate(.81turn)}
	.c100.p82 .bar{transform:rotate(.82turn)}
	.c100.p83 .bar{transform:rotate(298.8deg)}
	.c100.p84 .bar{transform:rotate(.84turn)}
	.c100.p85 .bar{transform:rotate(306deg)}
	.c100.p86 .bar{transform:rotate(309.6deg)}
	.c100.p87 .bar{transform:rotate(.87turn)}
	.c100.p88 .bar{transform:rotate(.88turn)}
	.c100.p89 .bar{transform:rotate(320.4deg)}
	.c100.p90 .bar{transform:rotate(324deg)}
	.c100.p91 .bar{transform:rotate(.91turn)}
	.c100.p92 .bar{transform:rotate(331.2deg)}
	.c100.p93 .bar{transform:rotate(.93turn)}
	.c100.p94 .bar{transform:rotate(.94turn)}
	.c100.p95 .bar{transform:rotate(342deg)}
	.c100.p96 .bar{transform:rotate(345.6deg)}
	.c100.p97 .bar{transform:rotate(.97turn)}
	.c100.p98 .bar{transform:rotate(.98turn)}
	.c100.p99 .bar{transform:rotate(.99turn)}
	.c100.p100 .bar{transform:rotate(1turn)}
	.c100:hover{cursor:default}
	.c100.blue .bar,.c100.blue .fill{border-color:#2755b7!important}
	.c100.green .bar,.c100.green .fill{border-color:#00c853!important}
	.c100.orange .bar,.c100.orange .fill{border-color:var(--colorerror)!important}
	.c100.red .bar,.c100.red .fill{border-color:red!important}
}
.userupdate{padding: 1.1rem 0;display: flex;align-items: center;justify-content: center;background-color: #e5e5e5;
	img{margin-right: 1rem;}
}
.updateinfo{
	input,.btn,select{font-size: 14px;}
}
.lichsu{
	.lichsu-head{background-color: #d6d6d6;padding-top: 0.6rem;
		.nav-link{font-weight: 600;color: var(--color2);word-break: break-all;}
		.nav-link.active{color: var(--color1);}
	}
	.showlichsu{
		table{
			td{vertical-align:middle;
				span{clear: both;display: block;font-size: 12px;color: var(--color3);}
				.head{font-weight: 500;font-size: 14px;color: var(--color2);}
			}
		}
	}
}
.itapken{padding: 15px 0 33px;background-color: #fff4e3;position: relative;overflow: hidden;
	.container{display: flex;align-items: center;justify-content: space-between;
		.tokenleft{display: flex;align-items: center;justify-content: center;
			img{max-width: 100%;margin-right: 13px;}
			.tokeninfo{
				span{display: block;clear: both;}
				.gold{font-size: 18px;font-weight: 700;}
			}
		}
		a.lichsu-btn{padding: 0.5rem 3rem;background-color:var(--whitecolor);color: var(--color2);border-radius:4px;
			&:hover{background-color:var(--color1);}
		}
	}
}
p{a{img{max-width: 100%;display: block;margin: 0 auto;}}}
/*====Baodanhhangngay====*/
.baodanhhangngay{background-color:var(--whitecolor);border-radius:4px;border:1px solid #cccccc;padding: 1rem;position: relative;overflow: hidden;z-index:0;
	h5{text-align: center;font-weight: 700;color: var(--color2);font-size: 16px;}
	.progressbar{counter-reset:step;padding:0;overflow: hidden;}
	.progressbar li{float:left;list-style:none;position:relative;text-align:center;width:calc(100% / 4)}
	.progressbar li:before{background:#fff;border:2px solid #bebebe;border-radius:50%;color:#bebebe;content:counter(step);counter-increment:step;display:block;font-weight:700;height:40px;line-height:35px;margin:0 auto 10px;text-align:center;width:40px}
	.progressbar li:after{background:#979797;content:'';height:13px;left:-50%;position:absolute;top:14px;width:100%;z-index:-1}
	.progressbar li:first-child:after{content:none}
	.progressbar li.active:after,.progressbar li.complete:after{background:#3aac5d}
	.progressbar li.active:before,.progressbar li.complete:before{background:#3aac5d;border-color:#3aac5d;color:#fff}
	.progressbar li.active{color:#3aac5d;font-weight:700}
	.progressbar li.complete{color:#333;font-weight:700}
	a.btn-baodanh{width: 50%;padding: 0.5rem;background-color:var(--color1);color:var(--whitecolor);text-align: center;border-radius: 4px;
		&:hover{filter:brightness(110%);}
	}
	a.disable{background-color:var(--color3);}
}
/*====NhiemVu=====*/
.nhiemvu{
	.nhiemvu-block{background-color:var(--whitecolor);border-radius:4px;border:1px solid #cccccc;padding: 1rem;position: relative;
		h6{font-weight: 700;font-size: 14px;color: var(--color2);word-break: break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow: hidden;text-overflow: ellipsis;word-break: break-word;
			span.tem{padding: 0.3rem;background: var(--colorlink);color:var(--whitecolor);display: inline-block;font-size: 12px;border-radius:100px;font-weight: 400;}
		}
		p{color: var(--color3);margin-bottom: 6px;word-break: break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow: hidden;text-overflow: ellipsis;word-break: break-word;}
		.chuahoanthanh{color: var(--colorerror);
			i{font-size: 20px;}
		}
		.hoanthanh{color:var(--colorok);
			i{font-size: 20px;}
		}
	}
	.showlichsu{
		.table{min-width: 400px;
			tr{vertical-align: middle;}
			td{text-align: center;}
			span{clear: both;display: block;}
			a.capnhat{display: block;color: var(--color1);text-align: center;}
			a.get{display: block;padding: 0.5rem;background-color: var(--colorlink);color: var(--whitecolor);text-align: center;border-radius: 4px;}
			a.disable{background-color: var(--color3);}
			a.chuacapnhat{color: var(--colorerror);}
			a.napngay{background-color: var(--color1);}
		}
		.mission{display: flex;align-items:center;justify-content: flex-start;
			.lefticon{flex-shrink: 0;width: 68px;height: 68px;border-radius:100rem;border:1px solid #cccccc;text-align:center;vertical-align:middle;display:flex;align-items:center;justify-content: center;margin-right:12px;
				i{font-size: 38px;}
			}
			.rightct{display: flex;align-items: flex-start;justify-content: center;flex-direction: column;
				span{color: var(--color3);}
				.head{font-weight: 500;color: var(--color2);}
				.normal{color:var(---whicecolor);word-break: break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow: hidden;text-overflow: ellipsis;word-break: break-word;text-align: left;}
			}
		}
	}
}
.nvtk{
	h5{font-size: 24px;font-weight: 700;}
}
.nvcg{
	.showlichsu{
		.table{
			tr{
				td{text-align: left;padding: 1.5rem 0.5rem;overflow: hidden;}
			}
			
			.mission{
				img.img-game{width: 68px;height: 68px;border-radius: 10px;margin-right: 6px;object-fit: cover;}
				h6{margin-bottom: 5px;font-weight: 700;font-size: 16px;color: var(--color2);word-break: break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow: hidden;text-overflow: ellipsis;word-break: break-word;
					span.tem{padding: 0.3rem;background: var(--colorlink);color:var(--whitecolor);display: inline-block;font-size: 12px;border-radius:100px;font-weight: 400;display: inline-block !important;}
					span.ketthuc{background-color: var(--color3);}
				}
				.rightct{
					span{display: inline-block;font-size: 12px;}
					p.datetime{margin-bottom: 5px;font-size: 12px;}
				}
			}
			
		}
	}
}
.conlai{padding: 0;border:none;
	.sat{position: absolute; right: 0px; top: -35px;z-index: 2;}
	.c100{background-color: var(--color3);}
	.c100 span{display: flex !important;align-items: inherit;top: 18px;}
	.c100.small{font-size: 77px;margin: 0;}
	.btn.nhan{width: 90px;text-align: center;background-color: var(--color1);color: var(--whitecolor);position: absolute;right: -6px;z-index: 3;bottom: -42px;font-size: 14px;
		&:hover{filter: brightness(110%);}
	}
	.btn.het{background-color: var(--color3);}
}
.baodanhnhantoken{
	a.gioithieubaodanh{color: var(--color2);}
}
.fsbanner{width: 100%;position: relative;height: 318px; background: url(../../images/fsbanner.jpg) no-repeat top center; background-size: cover;
	.fstime{position: absolute;bottom: 0;left: 0;width: 100%;color: var(--whitecolor);padding: 1rem 1.5rem 2.5rem ; background: rgba(255,255,255,0.1);
		h6{font-size: 14px;}
		span{font-size: 12px;}
		.ketthuc{opacity: 0.8;}
		.dangdienra{padding: 0.3rem;background: var(--whitecolor);color:var(--colorlink);border-radius: 50rem;}
		.sapdienra{color: var(--colorok);}
	}
	a.lichsu-btn{position: absolute;top: 10px; right: 10px;color: var(--whitecolor);
		&:hover{text-decoration: underline;}
	}
}
.usertoken{display: flex;justify-content: space-between;background-color:var(--whitecolor);padding:0.7rem;border-radius:4px;border:1px solid #cccccc;
	.userinfotoken{display: flex;align-items: center;
		img{width: 54px;height: 54px;border-radius: 50rem;margin-right: 7px;object-fit: cover;}
		h5{font-size: 16px;font-weight: 700;
			i{color: #6c23a8;}
		}
	}
	.userinfomain{display: flex;align-items: center;
		img{margin-right: 7px;}
		.userinfo{
			span{display: block;}
			.gold{font-weight: 700;color: var(--color2);}
		}
	}
}
.fstoken{
	.nhiemvu-block{position: relative;overflow: hidden;padding:0;cursor: pointer;transition:all 0.3s ease-in-out;
		&:hover{filter: brightness(105%);}
		&:before{content: "";position: absolute;width: 50vh;height: 50vh;border-radius:100vh;z-index: 1;background-color:rgba(255,255,255,0.1);top: 30%;left: -70%;}
		&:after{content: "";position: absolute;width: 50vh;height: 50vh;border-radius:100vh;z-index: 1;background-color:rgba(255,255,255,0.1);top: 35%;right: -50%;}
		.text{padding: 0.5rem;}
		span{display: block;text-align: center;color: var(--whitecolor);}
		.head{font-weight: 700;font-size: 24px;}
		.pricetk{background:rgba(0,0,0,0.5);padding: 0.5rem;font-weight: 400;border-top: 1px dotted var(--whitecolor);}
		.tag{transform: rotate( 45deg); position: absolute; right: -32px ; top: 06px; padding: 0.3rem 2.5rem ; font-weight: 700; box-shadow: 0px 1px 0px #fff;}
		.tag.hot{background:#ff4545;}
		.tag.new{background:#33e895;}
		.tag.disable{background:var(--color3);top: 11px;right: -43px;}
	}
	.nv1{background-image: linear-gradient(to bottom, #c872f2, #f772d1);}
	.nv2{background-image: linear-gradient(to bottom, #4760ff, #0dccff);}
	.nv3{background-image: linear-gradient(to bottom, #2fb383, #1ed386);}
	.nv4{background-image: linear-gradient(to bottom, #b6325f, #ff887c);}
}
.slider{
	.container{padding: 0;
		.fullslider{margin-bottom: 0;
			img{max-width: 100%;}
		}
	}
}
.contentplay{background-color: #eaeaea;
	.list{background: var(--whitecolor);padding: 20px 0;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;
		ul.chucnang-list{list-style: none;display: grid;grid-template-columns:repeat(5, 1fr);padding-left: 0;margin-bottom: 0;
			li{
				a{display: flex;align-items: center;justify-content: center;flex-direction: column;color: var(--color2);font-weight: 500;text-align: center;
					&:hover{filter: brightness(110%);}
					img{width:60%;margin-bottom: 0.2rem;}
				}
			}
		}
	}
}
.maincontent{background: var(--whitecolor);border-top-left-radius: 8px;border-top-right-radius: 8px;
	.nav-out{display: flex;justify-content: space-between;border-bottom: 2px solid #eaeaea;padding: 1rem;align-items: center;
		.nav{
			li{
				.nav-link{font-weight: 700;color: var(--color2);}
				.nav-link.active{background: var(--color1);color: var(--whitecolor);}
			}
		}
		.form{position:relative}
		.form .fa-search{position:absolute;top:10px;left:20px;color:#9ca3af}
		.form span{position:absolute;right:17px;top:13px;padding:2px;border-left:1px solid #d1d5db}
		.left-pan{padding-left:7px}
		.left-pan i{padding-left:10px}
		.form-input{height:36px;text-indent:33px;border-radius:4px;font-size: 14px;}
		.form-input:focus{box-shadow:none}
	}
	.tab-content{
		.itemgames{display: flex;align-items: center;justify-content:space-between;cursor: pointer;
			img{object-fit: contain;}
			h6{font-size: 16px;font-weight: 500;line-height: 1.4;margin-bottom: 0.3rem;
				span.decu{font-size: 10px;color: var(--whitecolor);background-color:#ff0000;}
			}
			p{margin-bottom: 0.3rem;}
			p.theloai{color: var(--color3);}
			p .fa-android{color: #4caf50;}
			a.xem{position: relative;border:1px solid var(--color1);-webkit-transition: all .3s linear 0s;transition: all .3s linear 0s;
				span.ok{color: var(--color1);}
				span.thunho{position: absolute;background: var(--whitecolor);width: 100%;height: 100%;top: 0;left: 0;display: flex;align-items: center;justify-content: center;border-radius:4px;color:var(--color3);border:1px solid var(--color3);box-shadow:0px 0px 0px 1px var(--color3);-webkit-transition: all .3s linear 0s;transition: all .3s linear 0s;}
				span.show{display: flex;transition:all 0.3s ease-in-out;}
				span.hide{display: none;transition:all 0.3s ease-in-out;}
			}
			
		}
		.accordion-button{display: block;}
		.accordion-button:hover{
			a.xem{background-color:var(--color1);
				span.ok{color: var(--whitecolor);}
				span.show{background-color:var(--color3);color: var(--whitecolor);}
			}
		}
		.accordion-button:after{display: none;}
		.accordion-button:not(.collapsed){color:var(--color2);background-color: transparent;}
		.accordion-collapse{-webkit-transition: all .3s linear 0s;transition: all .3s linear 0s;
			ul.btn-list{display: grid;grid-template-columns: repeat(4, 1fr);list-style: none;grid-gap: 1rem;
				li{
					a{
						img{max-width: 100%;}
						&:hover{opacity: 0.7;
						}
					}
					a.btn-tc:hover{opacity: 1;}
				}
				
			}
			p{color: var(--color3);}
			p.h6{color: var(--color2);}
			.slick-prev:before {color: var(--color2);width: 20px;height: 40px;
				  content: "\f0d9";
				font: 40px/1 'FontAwesome';
			}
			.slick-next:before {color: var(--color2);width: 20px;height: 40px;
				   content: "\f0da";
				 font: 40px/1 'FontAwesome';
			}
		}
	}
	/*=====Newserver=====*/
	.newserver{
		table{
			td{vertical-align: middle;}
			.tab-game{
				img.icon-gs{width:60px;height: 60px;object-fit: cover;}
				.title-game{
					h6{color: var(--color2);}
					span.theloai{color: var(--color3);font-weight: 500;}
				}
			}
			.date{background-color: var(--color1);text-align: center;color: var(--whitecolor);}
		}
	}
}
.sktintuc{
	.breadcrumb{
		li{
			a{color: var(--color2);}
		}
		li.active{color: var(--color1);font-weight: 600;}
	}
	.nav-out{flex-direction: row !important;align-items: center !important;border:0;
		.nav{
			li{
				.nav-link{font-weight: 700;color: var(--color2);}
				.nav-link.active{border-bottom:3px solid var(--color1);background: transparent;color: var(--color2);border-radius:0px;}
			}
		}
		.form2{
			a{color: var(--color2);font-style: italic;font-size: 12px;
				&:hover{color: var(--color1);}
			}
		}
	}
	.tab-content{
		.itemgames{
			h6{transition:all 0.3s ease-in-out;word-break: break-all;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow: hidden;text-overflow: ellipsis;word-break: break-word;}
			.item-img{max-width: 100%;width: 238px;height: 135px;object-fit: cover;}
			.teaser{word-break: break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow: hidden;text-overflow: ellipsis;word-break: break-word;}
			.luottai{transition:all 0.3s ease-in-out;
				img{width: 20px;height: 20px;object-fit: cover;}
			}
			.end{color: var(--color3);font-size: 13px;font-weight: 500;
				span.cate{color: var(--colorlink);border-right:1px solid var(--color3);}
			}
			&:hover{
				h6{color: var(--color1);}
				.luottai{color: var(--color1);}
			}
			.giaithuong{word-break: break-all;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow: hidden;text-overflow: ellipsis;word-break: break-word}
			.cty{
				img{width: 31px;object-fit: contain;height: inherit;}
			}
		}
	}
	.chitietbaiviet{
		p{font-weight: 500;margin-bottom: 10px;}
		.luottai{transition:all 0.3s ease-in-out;font-weight: 500;
			img{width: 20px;height: 20px;object-fit: cover;}
			span.cate{color: var(--colorlink);border-right:1px solid var(--color3);}
			span.datetime{border-left:1px solid var(--color3);font-size: 13px;color: var(--color3);}
		}
		
		.teaser{color: var(--color3);}

	}
}
.content{background-color: var(--whitecolor);border: 1px solid #e9e9e9;
	.maincontent{padding: 20px 0 50px;
		img{max-width: 100%;}
		table{
			tr{color: var(--color3);
				td:nth-child(2){font-weight: 500;color: var(--color2);}
			}
		}
	}
	
	.offcanvas{height: auto;max-height: 80vh;
		.offcanvas-header{background-color: var(--colortablehead);text-align: center;display: initial;
			.container1{max-width: 768px;margin: 0 auto;display: flex;justify-content: space-between;align-content: center;align-items: center;}
			h5{font-size:16px;font-weight: 700;}
		}
		.offcanvas-body{padding:calc(var(--spacing) * 0.667);
			.container{padding: 0;}
			.form-select{text-align: center;font-size:14px;}
			.btn{background-color:var(--color1);color: var(--whitecolor);border:none;font-size:14px;}
			table{
				tr{color: var(--color3);
					td:nth-child(2){font-weight: 500;color: var(--color2);}
				}
			}
			.gdok{font-size: 24px; color: var(--colorok); font-weight: 700;}
			.gdfail{font-size: 24px; color: var(--colorerror); font-weight: 700;}
			ul.congnap{list-style: none;padding: 0;
				li{padding: calc(var(--spacing) / 3) calc(var(--spacing) / 1.5);border-top:1px solid #f3f3f3;
					a{display: flex;justify-content: flex-start;align-items: center;
						img.imgcong{width: 70px;height: 40px;object-fit: contain;border-radius: 5px;margin-right: 10px;}
						span.titlecong{color: var(--color3);}
					}
					&:last-child{border-bottom:1px solid #f3f3f3;}
				}
			}
		}
		.chuadangnhap{padding: 2rem 0;
			p{text-align: center;
				span{color: var(--colorerror);}
			}
		}
	}
	.title-goinap{background-color: #d6d6d6;padding:0.6rem 1rem;font-size: 18px;font-weight: 700;color: var(--color2);margin-bottom: 0;}
	.titlegoi{background-color: #f3f3f3;padding:0.6rem 1rem;font-size: 14px;font-weight: 700;color: var(--color2);margin-bottom:1rem;}
	.title2{margin-bottom: 0;}
}


footer{width: 100%;display: flex;text-align: center;position: fixed;background:var(--color2);padding: 30px 0;bottom:0;left: 0;
	.mainfooter{position: relative;bottom:0;
		img{width: 100px;height: 47px;object-fit: cover;margin-bottom:25px; }
		p{line-height: 1.6;color: var(--whitecolor);}
	}
}
.nofixed{position: relative !important;}
.btn.xacnhan{background-color:var(--color1);color: var(--whitecolor);border:none;font-size:14px;width: 100%;transition:all 0.3s ease-in-out;
				&:hover{filter: brightness(110%);}
			}
.btn.cancel{background-color:var(--color3);color: var(--whitecolor);border:none;font-size:14px;width: 100%;transition:all 0.3s ease-in-out;
				&:hover{filter: brightness(110%);}
			}
























@media (max-width: 1024px) {
/*	footer{position: relative;}*/
}
@media (max-width: 768px) {
	.content{border:0;}
}
@media (max-width: 540px) {
	.maincontent .tab-content .accordion-collapse ul.btn-list{grid-template-columns: repeat(2, 1fr);}
	.sktintuc .tab-content .itemgames .item-img{width: 100%;height: 180px;}
}
@media (max-width: 414px) {
	.user-content .user-money .ixu{padding-left: 5px;}
	.user-content .user-money .ixu img{margin-right: 5px;}
	.chucnang ul.chucnang-list li{margin-bottom: 15px;}
	.chucnang ul.chucnang-list li a img{width: 50%;}
	.chucnang ul.chucnang-list{grid-template-columns: repeat(3, 1fr);}
	.userinfogame .container{align-items: flex-start;flex-direction: column;
		.infogame{margin-bottom: calc(var(--spacing) / 3);}
	}
	.usertoken{flex-direction: column;
		.userinfotoken{margin-bottom: 1rem;}
	}
	.contentplay .list{padding-bottom: 0;
		ul.chucnang-list{grid-template-columns: repeat(3, 1fr);
			li{margin-bottom: 1rem;}
		}
	}
	.maincontent .nav-out{flex-direction: column;align-items: inherit;
		.nav{margin-bottom: 0.5rem;}
	}
	.maincontent .tab-content .itemgames{flex-direction: column;}
}
